certifi==2024.8.30
charset-normalizer==3.4.0
dataclasses==0.6
gif-for-cli==1.1.2
idna==3.10
linkify-it-py==2.0.3
markdown-it-py==3.0.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
mido-fix==1.2.12
musicpy==6.92
pillow==11.0.0
platformdirs==4.3.6
pygame==2.6.1
Pygments==2.18.0
requests==2.32.3
rich==13.9.3
rich-pixels==3.0.1
textual==0.84.0
typing_extensions==4.12.2
uc-micro-py==1.0.3
urllib3==2.2.3
x256==0.0.3
